.outro {
  position: relative;
  border-radius: 20px;
  padding: 10px 15px;
  align-items: flex-start;
  margin: 10px;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.outro a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
}
