.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.animated {
  animation: slide 5s ease-in-out 2s infinite alternate;
}

@keyframes slide {
  0% {
    object-position: right top;
  }
  100% {
    object-position: left bottom;
  }
}
