@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/static/Nunito-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/static/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
}

html,
body {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: row;
  justify-content: space-between;
  padding: 10px 15px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
